.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Basic Container Styling */
.container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;
  padding: 20px;
}

/* Input Field Styling */
#videoURL {
  width: 500px; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #d3d3d3; /* Light gray border */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-size: 16px;
}

/* Button Styling */
button {
  background-color: #4285f4; /* Google blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Space between input and button */
  transition: background-color 0.3s; /* Smooth transition on hover */
}

button:hover {
  background-color: #3367d6; /* Slightly darker blue on hover */
}

/* …or create a new repository on the command line
echo "# youtube-play-video" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/bhupeshcoding/youtube-play-video.git
git push -u origin main */

/* …or push an existing repository from the command line
git remote add origin https://github.com/bhupeshcoding/youtube-play-video.git
git branch -M main
git push -u origin main */
